<div class="field">
    <label class="label">@Label</label>
    <div class="control bordered-area">
        <div class="columns is-mobile">
            <div class="column">
                <p>@Text</p>
            </div>
            <div class="column is-narrow">
                <div class="toggle @activeClass" @onclick="OnClick">
                    <div class="toggle-icon-container">
                        <i class="toggle-icon @OffIcon @offIconClass"></i>
                        <i class="toggle-icon @OnIcon @onIconClass"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* TODO: 
    Сделать две иконки и их появление через анимации фейдом*@

@code {
    private string activeClass => Value ? "active" : string.Empty;
    private string onIconClass => !Value ? "hidden" : string.Empty;
    private string offIconClass => Value ? "hidden" : string.Empty;

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string OffIcon { get; set; } = "fas fa-xmark";

    [Parameter]
    public string OnIcon { get; set; } = "fas fa-check";

    [Parameter]
    public Action<bool>? OnValueChanged { get; set; }

    private void OnClick(MouseEventArgs args)
    {
        Value = !Value;
        ValueChanged.InvokeAsync(Value);
        OnValueChanged?.Invoke(Value);
    }
}