<div class="field">
    <label class="label">@Label</label>
    <div class="control has-icons-right">
        <input class="input @validityClass @ClassPostfix"
        type="@InputType"
        value="@Value"
        placeholder="@Placeholder"
        @oninput="OnInput" 
        @onchange="OnChange"/>
        <span class="icon is-small is-right is-danger">
            <i class="fas fa-hashtag"></i>
        </span>
    </div>
</div>

@code {
    private string validityClass = string.Empty;
    private string invalidClass = "is-danger";

    [Parameter]
    public string ClassPostfix { get; set; } = string.Empty;

    [Parameter]
    public string InputType { get; set; } = "text";

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Placeholder { get; set; } = string.Empty;

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    [Parameter]
    public string? StringValue { get; set; }

    [Parameter]
    public EventCallback<string> StringValueChanged { get; set; }

    private async Task OnInput(ChangeEventArgs e)
    {
        StringValue = e?.Value?.ToString();

        if (!string.IsNullOrEmpty(StringValue))
        {
            if (int.TryParse(StringValue, out int parsed))
            {
                Value = parsed;
                await ValueChanged.InvokeAsync(Value);

                validityClass = string.Empty;
            }
            else
            {
                validityClass = invalidClass;
            }
        }

        await StringValueChanged.InvokeAsync(StringValue);
    }

    private async Task OnChange(ChangeEventArgs args)
    {
        await ValueChanged.InvokeAsync(Value);
    }
}
