<div class="field">
    <label class="label">@Label</label>
    <div class="control">
        <input class="input @ClassPostfix"
               type="@InputType"
               value="@Value"
               placeholder="@Placeholder"
               @oninput="OnInput" />
    </div>
</div>

@code {
    [Parameter]
    public string ClassPostfix { get; set; } = string.Empty;

    [Parameter]
    public string InputType { get; set; } = "text";

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Placeholder { get; set; } = string.Empty;

    [Parameter]
    public string? Value { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnInput(ChangeEventArgs e)
    {
        Value = e?.Value?.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
}