@using BRIX.Web.Client.Components.Characters.Abilities

<div class="container">
    <button class="button is-large is-fullwidth block" @onclick="AddAbility">
        <i class="fa fa-plus-circle"></i>
    </button>

    @foreach (Ability ability in Character.Abilities)
    {
        <div class="box block">
            <p class="title">@ability.Name</p>
            <p class="subtitle">@ability.ExpCost() EXP</p>
            <div class="buttons">
                <button class="button" @onclick="@(() => EditAbility(ability))">
                    @Localization[nameof(Resource.Common_Edit)]
                </button>
                <button class="button is-danger" @onclick="@(() => RemoveAbility(ability))">
                    @Localization[nameof(Resource.Common_Remove)]
                </button>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Character Character { get; set; } = default!;

    private void AddAbility(MouseEventArgs e)
    {
        Navigation.NavigateTo($"/characters/{Character.Id}/abilities/new");
    }

    private void EditAbility(Ability ability)
    {
        int abilityNumber = Character.Abilities.IndexOf(ability);
        Navigation.NavigateTo($"/characters/{Character.Id}/abilities/{abilityNumber}");
    }

    private async void RemoveAbility(Ability ability)
    {
        Character.RemoveAbility(ability);
        await CharacterManager.SaveAsync(Character);
    }
}
