@page "/characters"

<h1 class="title">@Localization[nameof(Resource.Common_Characters)]</h1>

@if(_characters is not null)
{
    <button class="button is-large" @onclick="@(async () => Add())">Add new character</button>

    @foreach (Character character in _characters)
    {
        <div class="box">
            <p class="title is-small">@character.Name</p>
            <p>@character.Level Level</p>
            <button class="button" @onclick="@(() => Edit(character))">Edit</button>
            <button class="button is-danger" @onclick="@(() => Delete(character))">Delete</button>
        </div>
    }
}
else
{
    <p>Characters is loading.</p>
}

@code {
    private List<Character>? _characters = null;

    protected override async Task OnInitializedAsync()
    {
        _characters = await CharacterManager.GetAll();
    }

    private void Add()
    {
        CharacterManager.EditingCharacter = null;
        Navigation.NavigateTo("/characters/edit");
    }

    private void Edit(Character character)
    {
        CharacterManager.EditingCharacter = character.Copy() 
            ?? throw new Exception("Не удалось скопировать персонажа.");
        Navigation.NavigateTo("/characters/edit");
    }

    private async Task Delete(Character character)
    {
        CharacterOperationResponse result = await CharacterManager.Delete(character);

        if(result.Success)
        {
            _characters?.Remove(character);
        }
    }
}
