@page "/characters/edit"

<div class="section">
    <div class="container is-max-tablet">
        <h1 class="title">@Localization[nameof(Resource.Characters_EditCharacter)]</h1>

        <EditForm OnSubmit="Save" Model="_character" class="box">
            <div class="field">
                <label class="label">@Localization[nameof(Resource.Characters_Name)]</label>
                <div class="control">
                    <InputText 
                        class="input" 
                        DisplayName="Name" 
                        @bind-Value="_character.Name"/>
                </div>
            </div>

            <div class="field">
                <label class="label">@Localization[nameof(Resource.Character_Backstory)]</label>
                <div class="control">
                    <InputTextArea 
                        class="textarea" 
                        DisplayName="Backstory" 
                        @bind-Value="_character.Backstory"/>
                </div>
            </div>
            
            <div class="buttons is-justify-content-right">
                <button class="button" @onclick="Back">
                    @Localization[nameof(Resource.Common_Cancel)]
                </button>
                <button class="button is-primary" type="submit">
                    @Localization[nameof(Resource.Common_Save)]
                </button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Character _character { get; set; } = default!;

    protected override void OnInitialized()
    {
        _character = CharacterManager.EditingCharacter ?? new Character();
    }

    public async Task Save()
    {
        CharacterOperationResponse result = await CharacterManager.Save(_character);

        if (result.Success)
        {
            Navigation.NavigateTo("/characters");
        }
    }

    public void Back() => Navigation.NavigateTo("/characters");
}
