@page "/npcs/{Id:guid}"

@if (NPC is null)
{
    return;
}

<div class="section">
    <div class="box block">
        <p class="title block">@NPC.Name</p>
        <p class="block">@NPC.Description</p>
        <button class="button" @onclick="EditNPC">@Localization[nameof(Resource.Common_Edit)]</button>
    </div>

    <button class="button is-large is-fullwidth block" @onclick="AddAbility">
        <i class="fa fa-plus-circle"></i>
    </button>

    @foreach (Ability ability in NPC.Abilities)
    {
        <div class="box block">
            <p class="title">@ability.Name</p>
            <p class="subtitle">@ability.ExpCost() EXP</p>
            <div class="buttons">
                <button class="button" @onclick="@(() => EditAbility(ability))">
                    @Localization[nameof(Resource.Common_Edit)]
                </button>
                <button class="button is-danger" @onclick="@(() => RemoveAbility(ability))">
                    @Localization[nameof(Resource.Common_Remove)]
                </button>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private NPC NPC { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        NPC? npc = await NPCManager.GetAsync(Id);

        if(npc is not null)
        {
            NPC = npc;
        }
        else
        {
            Navigation.NavigateTo("/404");
        }
    }

    private void EditNPC()
    {
        NPCManager.EditNPC(NPC);
        Navigation.NavigateTo($"/npcs/{Id}/edit");
    }

    private void AddAbility(MouseEventArgs e)
    {
        Navigation.NavigateTo($"/npcs/{NPC.Id}/abilities/new");
    }

    private void EditAbility(Ability ability)
    {
        int abilityNumber = NPC.Abilities.IndexOf(ability);
        Navigation.NavigateTo($"/npcs/{NPC.Id}/abilities/{abilityNumber}");
    }

    private async void RemoveAbility(Ability ability)
    {
        NPC.RemoveAbility(ability);
        await NPCManager.SaveAsync(NPC);
    }
}
