@page "/npc/{Id:guid}"
@page "/summon/{Id:guid}"

@if (NPC is null)
{
    return;
}

<FooterBox>
    <Content>
        <div class="box block">
            <Field @bind-Value="NPC.Name"
                    Label="@Localization[Resource.Common_Name]"
                    @bind-Value:after="@(() => npcChanged = true)" />
            <TextAreaField @bind-Value="NPC.Description"
                            MaxLength="500"
                            Label="@Localization[Resource.Common_Description]"
                            @bind-Value:after="@(() => npcChanged = true)" />
            <Field @bind-Value="NPC.SetHealth"
                    Label="@Localization[Resource.NPC_Health]"
                    @bind-Value:after="@(() => npcChanged = true)" />
        </div>

        <button class="button is-large is-fullwidth block" @onclick="AddAbility">
            <i class="fa fa-plus-circle"></i>
        </button>

        @foreach (Ability ability in NPC.Abilities)
        {
            <div class="box block">
                <p class="title">@ability.Name</p>
                <p class="subtitle">@ability.ExpCost() EXP</p>
                <div class="buttons">
                    <button class="button" @onclick="@(() => EditAbility(ability))">
                        @Localization[nameof(Resource.Common_Edit)]
                    </button>
                    <button class="button is-danger" @onclick="@(() => RemoveAbility(ability))">
                        @Localization[nameof(Resource.Common_Remove)]
                    </button>
                </div>
            </div>
        }
    </Content>
    <Footer>
        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <p class="title">@Localization[nameof(Resource.Common_Power)]</p>
            <p class="title">@NPC.Power EXP</p>
        </div>
        @if (npcChanged)
        {
            <div class="buttons is-flex is-justify-content-flex-end">
                <button class="button" @onclick="ResetAsync">@Localization[nameof(Resource.Common_Reset)]</button>
                <button class="button is-primary" @onclick="SaveAsync">@Localization[nameof(Resource.Common_Save)]</button>
            </div>
        }
    </Footer>
</FooterBox>

@code {
    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "chr")]
    public Guid? CharacterSummonerId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "npc")]
    public Guid? NPCSummonerId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "art")]
    public Guid? ArtifactSummonerId { get; set; }

    private NPC NPC { get; set; } = default!;
    private bool npcChanged = false;
    private ENPCPageMode mode = ENPCPageMode.NPC;

    protected override async Task OnInitializedAsync()
    {
        mode = GetMode();
        NPC? npc = NPCManager.EditingNPC;

        if (npc is null)
        {
            if (mode == ENPCPageMode.NPC)
            {
                npc = await NPCManager.GetAsync(Id);
                NPCManager.EditNPC(npc);
            }
            else if (mode == ENPCPageMode.Summon && NPCManager.Summon is null)
            {
                if (CharacterSummonerId is not null)
                {
                    CharacterManager.EditCharacter(
                        await CharacterManager.GetAsync(CharacterSummonerId.Value)
                    );

                    NPCManager.EditNPC(
                        new SummoningDescriptor
                            {
                                EditingCharacter = CharacterManager.EditingCharacter
                                    ?? throw new Exception("Editing character not found."),
                                CreatureId = Id,
                            }
                    );
                }
            }
        }

        if (npc is not null)
        {
            NPC = npc;
        }
        else
        {
            Navigation.NavigateTo("/404");
        }
    }

    private async Task AddAbility(MouseEventArgs e)
    {
        await SaveAsync();
        Navigation.NavigateToRelative($"/abilities/new" + GetOwnerParameter());
    }

    private async Task EditAbility(Ability ability)
    {
        await SaveAsync();
        int abilityNumber = NPC.Abilities.IndexOf(ability);
        Navigation.NavigateToRelative($"/abilities/{abilityNumber}" + GetOwnerParameter());
    }

    private async Task RemoveAbility(Ability ability)
    {
        NPC.RemoveAbility(ability);
        await SaveAsync();
    }

    private async Task SaveAsync()
    {
        if (mode == ENPCPageMode.NPC)
        {
            await NPCManager.SaveAsync(NPC);
        }
        else if (mode == ENPCPageMode.Summon)
        {
            if (NPCManager.Summon is null)
            {
                throw new Exception("Editing summoning effect is missing.");
            }

            NPCManager
            Navigation.NavigateTo(NPCManager.Summon.GetSaveCallbackRoute());
        }

        npcChanged = false;
    }

    private async Task ResetAsync()
    {
        await OnInitializedAsync();
        npcChanged = false;
    }

    private string GetOwnerParameter()
    {
        if (CharacterSummonerId is not null)
        {
            return $"?chr={CharacterSummonerId}";
        }
        else if (NPCSummonerId is not null)
        {
            return $"?npc={NPCSummonerId}";
        }
        else if (ArtifactSummonerId is not null)
        {
            return $"?art={ArtifactSummonerId}";
        }

        return string.Empty;
    }

    private ENPCPageMode GetMode()
    {
        return Navigation.Uri.Contains("npc") ? ENPCPageMode.NPC : ENPCPageMode.Summon;
    }

    private enum ENPCPageMode
    {
        NPC = 0,
        Summon = 1
    }
}
