@inherits AbilityPageBase

@page "/characters/{CharacterId:guid}/abilities/{AbilityNumber:int}/activation"

<p class="title">@Localization[nameof(Resource.Abilities_Activation)]</p>

<div class="box">
    <div class="block">
        <p class="title">@Localization[nameof(Resource.Abilities_ActionPoints)]</p>
        <p class="block">@Localization[nameof(Resource.Abilities_ActionPointsHint)]</p>
        <NumericField
            Label="@Localization[nameof(Resource.Abilities_ActionPoints)]" 
            @bind-Value="Ability.Activation.ActionPoints" @bind-Value:after="Layout.Refresh"/>
        <div class="is-display-flex is-gap-2">
            <button class="button is-fullwidth" @onclick="@(() => SetActionPoints(1))">1</button>
            <button class="button is-fullwidth" @onclick="@(() => SetActionPoints(2))">2</button>
            <button class="button is-fullwidth" @onclick="@(() => SetActionPoints(3))">3</button>
            <button class="button is-fullwidth" @onclick="@(() => SetActionPoints(4))">4</button>
            <button class="button is-fullwidth" @onclick="@(() => SetActionPoints(5))">5</button>
        </div>
    </div>

    <div class="block">
        <p class="title">@Localization[nameof(Resource.Abilities_Cooldown)]</p>
    </div>

    <div class="block">
        <p class="title">@Localization[nameof(Resource.Abilities_ActivationTriggers)]</p>
    </div>
</div>

@code {
    private void SetActionPoints(int actionPoints)
    {
        Ability.Activation.ActionPoints = actionPoints;
        Layout.Refresh();
    }
}
