@using BRIX.Web.Client.Components.Layout

@layout MainLayout
@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div class="section ability-layout-container">
        <div class="box">
            <p>Здесь будут хлебные крошки, типа:</p>
            <p>Гоблин боблин -> Способности -> Выстрел из бумпалки -> Урон -> Выбор целей</p>
        </div>

        <div class="ability-layout-content">
            @Body
        </div>

        <footer class="box cost-footer">
            <div class="is-flex is-flex-direction-row is-justify-content-space-between">
                <p class="title">@Localization[nameof(Resource.Abilities_AbilityCost)]</p>
                <p class="title">@cost EXP</p>
            </div>
            <div class="progress-container mb-2">
                <progress class="progress is-warning" value="@(cost + alreadySpent)" max="@overall" />
                <progress class="progress is-success spent-progress" value="@alreadySpent" max="@overall" />
            </div>
            <div class="is-flex is-flex-direction-row is-justify-content-space-between block">
                <p>@Localization[nameof(Resource.Abilities_MonitorAlreadySpent)] @alreadySpent EXP</p>
                <p>@Localization[nameof(Resource.Abilities_MonitorAvailiable)] @availiable EXP</p>
            </div>
            <div class="buttons is-flex is-justify-content-flex-end">
                <button class="button" @onclick="Reset">@Localization[nameof(Resource.Common_Reset)]</button>
                <button class="button is-primary" @onclick="SaveAsync">@Localization[nameof(Resource.Common_Save)]</button>
            </div>
        </footer>
    </div>
</CascadingValue>

@code {
    private int cost => Ability?.ExpCost() ?? default;
    private int overall => CharacterManager.EditingCharacter?.Experience ?? default;
    private int alreadySpent => GetAlreadySpent();
    private int availiable => CharacterManager.EditingCharacter?.AvailableExp ?? default;

    public Guid CharacterId { get; set; }

    public Character? Character => CharacterManager.EditingCharacter;

    public int? AbilityNumber { get; set; }

    public Ability Ability => AbilityNumber is null ? new()
        : CharacterManager.EditingCharacter?.Abilities.ElementAtOrDefault(AbilityNumber.Value) ?? new();

    public Action? OnReset { get; set; }

    /// <summary>
    /// Обновить состояние лейаута.
    /// Не вызывать из OnParametersSet или OnParametersSetAsync, иначе будет stack overflow.
    /// </summary>
    public void Refresh()
    {
        StateHasChanged();
    }

    private async Task SaveAsync(MouseEventArgs e)
    {
        if (CharacterManager.EditingCharacter?.AvailableExp > 0)
        {
            await CharacterManager.SaveAsync();
            Navigation.NavigateTo($"/characters/{CharacterId}/abilities");
        }
        else
        {
            Modal.Alert(new AlertParameters {
                Mode = EAlertMode.Ok,
                Message = Localization[nameof(Resource.Abilities_NotEnoughExpForAbility)],
                Title = Localization[nameof(Resource.Common_Warning)],
            });
        }
    }

    /// <summary>
    /// Сбросить все изменения, сделанные в способности.
    /// </summary>
    private void Reset()
    {
        Modal.Alert(
            new AlertParameters
            {
                Title = Localization[nameof(Resource.Common_Warning)],
                Message = Localization[nameof(Resource.Abilities_AreYouSureReset)],
                Callback = ResetInternal,
                Mode = EAlertMode.YesNo
            }
        );
    }

    private void ResetInternal(AlertResult result)
    {
        if (result.IsPositive)
        {
            CharacterManager.Reset();
            OnReset?.Invoke();
            StateHasChanged();
        }
    }

    private int GetAlreadySpent()
    {
        if (CharacterManager.EditingCharacter is null || Ability is null)
        {
            return default;
        }

        return CharacterManager.EditingCharacter.GetSpentExp(excludeAbilityId: Ability.Id);
    }
}