<div class="box">
    <p class="title">@Localization[nameof(Resource.Abilities_Aspects)]</p>
    <OptionsTabEmpty>
        @foreach (AspectVM aspect in aspects)
        {
            <OptionsTabEmptyItem Icon="@aspect.Icon">
                <p class="has-text-weight-bold block">
                    @aspect.Title
                </p>
                <LexisBlock Model="aspect.Model" />
                <button class="button" onclick="@(() => GoToAspect(aspect))">@Localization[nameof(Resource.Common_Edit)]</button>
            </OptionsTabEmptyItem>
        }
    </OptionsTabEmpty>
</div>

@code {
    private List<AspectVM> aspects = [];

    [Parameter]
    public List<AspectBase> Aspects { get; set; } = [];

    protected override async Task OnParametersSetAsync()
    {
        await base.OnInitializedAsync();

        if (Aspects is not null && Aspects.Any())
        {
            aspects = Aspects.Select(GetVMFromAspectBase).ToList();
        }
    }

    private AspectVM GetVMFromAspectBase(AspectBase aspect)
    {
        AspectVM fromDictionary = BRIX.Web.Client.Models.Characters.Aspects.Collection[aspect.GetType()];

        return new AspectVM
        {
            Model = aspect,
            Title = Localization[$"Abilities_{aspect.GetType().Name}"],
            Icon = fromDictionary.Icon,
            Route = fromDictionary.Route
        };
    }

    private void GoToAspect(AspectVM aspect)
    {
        Navigation.NavigateToRelative(aspect.Route);
    }
}
