@inherits AbilityPageBase

@page "/characters/{CharacterId:guid}/abilities/{AbilityNumber:int}/effects/{DamageType}/{EffectNumber:int}/tse"

<div class="box">
    <p class="block">@Localization[nameof(Resource.Abilities_Aspect_TargetSelectionAspect)]</p>
    <OptionsTab Mode="EOptionsTabMode.Stack" >
        <OptionsTabItem Title="@Localization[nameof(Resource.ETargetSelectionStrategy_NTargetsAtDistanсeL)]"
                        OnSelected="@(() => SelectStrategy(ETargetSelectionStrategy.NTargetsAtDistanсeL))"/>
        <OptionsTabItem Title="@Localization[nameof(Resource.ETargetSelectionStrategy_Area)]"
                        OnSelected="@(() => SelectStrategy(ETargetSelectionStrategy.Area))" />
        <OptionsTabItem Title="@Localization[nameof(Resource.ETargetSelectionStrategy_CharacterHimself)]"
                        OnSelected="@(() => SelectStrategy(ETargetSelectionStrategy.CharacterHimself))" />
    </OptionsTab>
</div>

@code {
    [SupplyParameterFromQuery(Name = "n")]
    public int EffectOrderNumber { get; set; }

    TargetSelectionAspect aspect = new();

    protected override void InitializeAlso()
    {
        EffectBase? effect = Ability.GetEffectByIndex(EffectOrderNumber);
        TargetSelectionAspect? foundAspect = effect?.GetAspect<TargetSelectionAspect>();

        if (foundAspect is null)
        {
            Navigation.NavigateTo("/404");
        }
        else
        {
            aspect = foundAspect;
        }
    }

    private void SelectStrategy(ETargetSelectionStrategy strategy)
    {
        aspect.Strategy = strategy;
    }
}