@inherits AbilityPageBase

@page "/characters/{CharacterId:guid}/abilities/{AbilityNumber:int}/effects/{EffectType}/{EffectOrderNumber:int}/tse"

@if (aspect is null)
{
    return;
}

<div class="box">
    <p class="title block">@Localization[nameof(Resource.Abilities_Aspect_TargetSelectionAspect)]</p>

    <OptionsTab Mode="EOptionsTabMode.Stack"
                TValue="ETargetSelectionStrategy"
                @bind-SelectedValue="aspect.Strategy" @bind-SelectedValue:after="Layout.Refresh">
        <OptionsTabItem Title="@Localization[nameof(Resource.ETargetSelectionStrategy_NTargetsAtDistanсeL)]"
                        Value="ETargetSelectionStrategy.NTargetsAtDistanсeL" />
        <OptionsTabItem Title="@Localization[nameof(Resource.ETargetSelectionStrategy_Area)]"
                        Value="ETargetSelectionStrategy.Area" />
        <OptionsTabItem Title="@Localization[nameof(Resource.ETargetSelectionStrategy_CharacterHimself)]"
                        Value="ETargetSelectionStrategy.CharacterHimself" />
    </OptionsTab>
</div>

@if (aspect.Strategy == ETargetSelectionStrategy.CharacterHimself)
{
    <div class="box">
        <p class="title block">@Localization[nameof(Resource.ETargetSelectionStrategy_CharacterHimself)]</p>
        <p class="block">@Localization[nameof(Resource.ETargetSelectionStrategy_CharacterHimself_Hint)]</p>
    </div>
}

@if (aspect.Strategy == ETargetSelectionStrategy.NTargetsAtDistanсeL)
{
    <div class="box">
        <p class="title block">
            @Localization[nameof(Resource.ETargetSelectionStrategy_NTargetsAtDistanсeL)]
        </p>
        <p class="block">@Localization[nameof(Resource.ETargetSelectionStrategy_NTargetsAtDistanсeL_Hint)]</p>
        <Field @bind-Value="aspect.NTAD.TargetsCount" @bind-Value:after="Layout.Refresh"
               Label="@Localization[nameof(Resource.Abilities_NumberOfTargets)]" />
        <Field @bind-Value="aspect.NTAD.DistanceInMeters" @bind-Value:after="Layout.Refresh"
               Label="@Localization[nameof(Resource.Abilities_DistanceInMeters)]" />
    </div>

    <div class="box">
        <p class="title block">@Localization[nameof(Resource.Abilities_RandomTargetSelection)]</p>
        <p class="block">@Localization[nameof(Resource.Abilities_RandomTargetSelection_Hint)]</p>
        <Toggle @bind-Value="aspect.NTAD.IsTargetSelectionIsRandom" @bind-Value:after="Layout.Refresh"
                Text="@Localization[nameof(Resource.Abilities_IsTargetSelectionIsRandom)]" />
    </div>
}

@if (aspect.Strategy == ETargetSelectionStrategy.Area)
{
    <div class="box">
        <p class="title block">@Localization[nameof(Resource.ETargetSelectionStrategy_Area)]</p>
        <p class="block">@Localization[nameof(Resource.ETargetSelectionStrategy_Area_Hint)]</p>
        <Toggle @bind-Value="aspect.AreaSettings.SpreadsAroundCorners" @bind-Value:after="Layout.Refresh"
                Text="@Localization[nameof(Resource.Abilities_AbilitySpreadsAroundCorners)]" />
        <Field @bind-Value="aspect.AreaSettings.DistanceToAreaInMeters" @bind-Value:after="Layout.Refresh"
               Label="@Localization[nameof(Resource.Abilities_DistanceToAreaInMeters)]" />
        <p class="title block">@Localization[nameof(Resource.Abilities_Area)]</p>
        <OptionsTab TValue="EAreaType" @bind-SelectedValue="aspect.AreaSettings.Area.ShapeType">
            <OptionsTabItem Image="assets/abilities/brick_icon.svg" Value="EAreaType.Brick">
                <figure class="image is-128x128 is-5by3">
                    <img src="assets/abilities/brick_scheme.svg" />
                </figure>
                <div class="columns">
                    <Field @bind-Value="aspect.AreaSettings.Area.Brick.A" @bind-Value:after="Layout.Refresh"
                           Label="@Localization[nameof(Resource.Abilities_LengthA)]" />
                    <Field @bind-Value="aspect.AreaSettings.Area.Brick.B" @bind-Value:after="Layout.Refresh"
                           Label="@Localization[nameof(Resource.Abilities_WidthB)]" />
                    <Field @bind-Value="aspect.AreaSettings.Area.Brick.C" @bind-Value:after="Layout.Refresh"
                           Label="@Localization[nameof(Resource.Abilities_HeightC)]" />
                </div>
            </OptionsTabItem>
            <OptionsTabItem Image="assets/abilities/sphere_icon.svg" Value="EAreaType.Sphere">
                <figure class="image is-128x128 is-5by3">
                    <img src="assets/abilities/sphere_scheme.svg" />
                </figure>
                <Field @bind-Value="aspect.AreaSettings.Area.Sphere.R" @bind-Value:after="Layout.Refresh"
                       Label="@Localization[nameof(Resource.Abilities_RadiusR)]" />
            </OptionsTabItem>
            <OptionsTabItem Image="assets/abilities/cylinder_icon.svg" Value="EAreaType.Cylinder">
                <figure class="image is-128x128 is-5by3">
                    <img src="assets/abilities/cylinder_scheme.svg" />
                </figure>
                <div class="columns">
                    <Field @bind-Value="aspect.AreaSettings.Area.Cylinder.R" @bind-Value:after="Layout.Refresh"
                           Label="@Localization[nameof(Resource.Abilities_RadiusR)]" />
                    <Field @bind-Value="aspect.AreaSettings.Area.Cylinder.H" @bind-Value:after="Layout.Refresh"
                           Label="@Localization[nameof(Resource.Abilities_HeightH)]" />
                </div>
            </OptionsTabItem>
            <OptionsTabItem Image="assets/abilities/cone_icon.svg" Value="EAreaType.Cone">
                <figure class="image is-128x128 is-5by3">
                    <img src="assets/abilities/cone_scheme.svg" />
                </figure>
                <div class="columns">
                    <Field @bind-Value="aspect.AreaSettings.Area.Cone.R" @bind-Value:after="Layout.Refresh"
                           Label="@Localization[nameof(Resource.Abilities_RadiusR)]" />
                    <Field @bind-Value="aspect.AreaSettings.Area.Cone.H" @bind-Value:after="Layout.Refresh"
                           Label="@Localization[nameof(Resource.Abilities_HeightH)]" />
                </div>
            </OptionsTabItem>
            <OptionsTabItem Image="assets/abilities/cross_icon.svg" Value="EAreaType.VoxelArray">
                <figure class="image is-128x128 is-5by3">
                    <img src="assets/abilities/cross_scheme.svg" />
                </figure>
                <p class="block">@Localization[nameof(Resource.Abilities_VoxelArrayHint)]</p>
                <Field @bind-Value="aspect.AreaSettings.Area.VoxelArray.N" @bind-Value:after="Layout.Refresh"
                       Label="@Localization[nameof(Resource.Abilities_NumberOfVoxelsN)]" />
                <Toggle @bind-Value="aspect.AreaSettings.Area.VoxelArray.IsArbitrary" @bind-Value:after="Layout.Refresh"
                        Text="@Localization[nameof(Resource.Abilities_IsVoxelsArbitrary)]" />
            </OptionsTabItem>
        </OptionsTab>
    </div>

    <div class="box">
        <p class="title block">@Localization[nameof(Resource.Abilities_ExcludeTargets)]</p>
        <p class="block">@Localization[nameof(Resource.Abilities_ExcludeTargets_Hint)]</p>
        <Field @bind-Value="aspect.AreaSettings.ExcludedTargetsCount" @bind-Value:after="Layout.Refresh"
               Label="@Localization[nameof(Resource.Abilities_ExcludedTargetsCount)]" />
    </div>
}

@if (aspect.Strategy == ETargetSelectionStrategy.NTargetsAtDistanсeL || aspect.Strategy == ETargetSelectionStrategy.Area)
{
    <div class="box">
        <p class="title block">@Localization[nameof(Resource.Abilities_TargetChain)]</p>
        <p class="block">@Localization[nameof(Resource.Abilities_TargetChain_Hint)]</p>
        <Toggle @bind-Value="aspect.TargetChain.IsChainEnabled" @bind-Value:after="Layout.Refresh"
                Text="@Localization[nameof(Resource.Abilities_EnableTargetChain)]" />

        @if (aspect.TargetChain.IsChainEnabled)
        {
            <Field @bind-Value="aspect.TargetChain.MaxDistanceBetweenTargets" @bind-Value:after="Layout.Refresh"
                   Label="@Localization[nameof(Resource.Abilities_ChainMaxDistanceBetweenTargets)]" />
            <Field @bind-Value="aspect.TargetChain.MaxTargetsCount" @bind-Value:after="Layout.Refresh"
                   Label="@Localization[nameof(Resource.Abilities_ChainMaxCountOfTargets)]" />
        }
    </div>

    <div class="box">
        <p class="title block">@Localization[nameof(Resource.Abilities_TargetVisibility)]</p>
        <p class="block">@Localization[nameof(Resource.Abilities_TargetVisibility_Hint)]</p>
        <Toggle @bind-Value="aspect.NeedToSeeTarget" @bind-Value:after="Layout.Refresh"
                Text="@Localization[nameof(Resource.Abilities_ShouldCharacterSeeTarget)]" />
    </div>
}

@code {
    [Parameter]
    public string EffectType { get; set; } = string.Empty;

    [Parameter]
    public int EffectOrderNumber { get; set; }

    TargetSelectionAspect? aspect;

    protected override void InitializeAlso()
    {
        EffectBase? effect = Ability.GetEffectByIndex(EffectOrderNumber);
        TargetSelectionAspect? foundAspect = effect?.GetAspect<TargetSelectionAspect>();

        if (foundAspect is null)
        {
            Navigation.NavigateTo("/404");
        }
        else
        {
            aspect = foundAspect;
        }
    }
}