@page "/forgot-password"
@using System.ComponentModel.DataAnnotations

<div class="section">
    <div class="container is-max-tablet">
        <EditForm Model="@_model" OnValidSubmit="@Send" class="box block">

            <h1 class="title">@Localization[nameof(Resource.Account_ResetPassword)]</h1>

            <DataAnnotationsValidator />
            <ValidationSummary class="notification block is-danger" />

            <TextField 
                InputType="email" 
                Placeholder="@Localization[nameof(Resource.Account_Email)]" 
                @bind-Value="_model.Email" />

            <div class="buttons is-justify-content-right">
                <button type="submit" class="button">
                    @Localization[nameof(Resource.Common_Send)]
                </button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private ForgotPasswordModel _model = new();

    private async Task Send()
    {
        OperationResult result = await AuthService.ForgotPassword(_model.Email);

        if(result.Successfull)
        {
            Modal.PushNotification(
                ENotificationType.Success, 
                Localization[nameof(Resource.Account_ForgotPasswordRequestSuccseeded)]);
        }
    }

    public class ForgotPasswordModel
    {
        [Required(ErrorMessageResourceName = nameof(Resource.Validation_EmailRequired),
            ErrorMessageResourceType = typeof(Resource))]
        [EmailAddress(ErrorMessageResourceName = nameof(Resource.Validation_EmailFormat),
            ErrorMessageResourceType = typeof(Resource))]
        public string Email { get; set; } = string.Empty;
    }
}
