@page "/sign-up"

<div class="section">
    <div class="container is-max-tablet">
        <EditForm Model="RegisterModel" OnValidSubmit="HandleRegistration" class="box block">
            <DataAnnotationsValidator />

            <h1 class="title">@Localization[nameof(Resource.Account_SignUp)]</h1>

            <ValidationSummary class="notification block is-danger" />

            <TextField InputType="email"
                       Label="@Localization[nameof(Resource.Account_Email)]"
                       @bind-Value="RegisterModel.Email" />

            <TextField InputType="password"
                       Label="@Localization[nameof(Resource.Account_Password)]"
                       @bind-Value="RegisterModel.Password" />

            <TextField InputType="password"
                       Label="@Localization[nameof(Resource.Account_ConfirmPassword)]"
                       @bind-Value="RegisterModel.ConfirmPassword" />

            <div class="buttons is-justify-content-right">
                <button type="submit" class="button is-primary">@Localization[nameof(Resource.Account_SignUpAction)]</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

    private SignUpModel RegisterModel = new ();

    private async Task HandleRegistration()
    {
        OperationResult result = await AuthService.SignUp(RegisterModel.ToDto());

        if (result.Successfull)
        {
            NavigationManager.NavigateTo("/sign-in?needconfirm=true");
        }
    }
}