@page "/sign-up"

<div class="section">
    <div class="container is-max-tablet">
        <EditForm Model="RegisterModel" OnValidSubmit="HandleRegistration" class="box block">
            <DataAnnotationsValidator />

            <h1 class="title">@Localization[nameof(Resource.Account_SignUp)]</h1>

            <ValidationSummary class="notification block is-danger" />

            <div class="field">
                <label class="label">@Localization[nameof(Resource.Account_Email)]</label>
                <div class="control">
                    <InputText class="input" type="email" placeholder="address@example.com"
                    @bind-Value="RegisterModel.Email" />
                </div>
            </div>

            <div class="field">
                <label class="label">@Localization[nameof(Resource.Account_Password)]</label>
                <div class="control">
                    <InputText class="input" type="password" placeholder="********" 
                    @bind-Value="RegisterModel.Password" />
                </div>
            </div>

            <div class="field">
                <label class="label">@Localization[nameof(Resource.Account_ConfirmPassword)]</label>
                <div class="control">
                    <InputText class="input" type="password" placeholder="********" 
                    @bind-Value="RegisterModel.ConfirmPassword" />
                </div>
            </div>

            <div class="buttons is-justify-content-right">
                <button type="submit" class="button is-primary">@Localization[nameof(Resource.Account_SignUpAction)]</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

    private SignUpModel RegisterModel = new ();

    private async Task HandleRegistration()
    {
        OperationResult result = await AuthService.SignUp(RegisterModel.ToDto());

        if (result.Successfull)
        {
            NavigationManager.NavigateTo("/sign-in?needconfirm=true");
        }
    }
}