@implements IDisposable

<div class="modal @_isActiveClass">
    <div class="modal-background" @onclick="BackgroundClicked"></div>
    <div class="modal-content">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">@_title</p>
            </header>
            <div class="card-content">
                <div class="fixed-grid has-3-cols">
                    <div class="grid">
                        <div class ="cell is-col-span-3">
                            <InputNumber class="input is-medium has-text-right block" readonly @bind-Value="_value" />
                        </div>

                        <div class="cell"><button class="button is-large" @onclick="@(() => AddNumber(7))">7</button></div>
                        <div class="cell"><button class="button is-large" @onclick="@(() => AddNumber(8))">8</button></div>
                        <div class="cell"><button class="button is-large" @onclick="@(() => AddNumber(9))">9</button></div>

                        <div class="cell"><button class="button is-large" @onclick="@(() => AddNumber(4))">4</button></div>
                        <div class="cell"><button class="button is-large" @onclick="@(() => AddNumber(5))">5</button></div>
                        <div class="cell"><button class="button is-large" @onclick="@(() => AddNumber(6))">6</button></div>

                        <div class="cell"><button class="button is-large" @onclick="@(() => AddNumber(1))">1</button></div>
                        <div class="cell"><button class="button is-large" @onclick="@(() => AddNumber(2))">2</button></div>
                        <div class="cell"><button class="button is-large" @onclick="@(() => AddNumber(3))">3</button></div>
                        
                        <div class="cell">
                            <button class="button is-large" @onclick="Clear"><i class="fas fa-xmark-circle" /></button>
                        </div>
                        <div class="cell">
                            <button class="button is-large" @onclick="@(() => AddNumber(0))">0</button>
                        </div>
                        <div class="cell">
                            <button class="button is-large" @onclick="Backspace"><i class="fas fa-backspace" /></button>
                        </div>
                        <div class="cell">
                            <button class="button is-large has-text-success" @onclick="Plus">
                                <i class="fas fa-plus-circle" />
                            </button>
                        </div>
                        <div class="cell">
                            <button class="button is-large has-text-primary" @onclick="Set">
                                <i class="fas fa-check-circle" />
                            </button>
                        </div>
                        <div class="cell">
                            <button class="button is-large has-text-danger" @onclick="Minus">
                                <i class="fas fa-minus-circle" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string _isActiveClass = string.Empty;
    private string _title = string.Empty;
    Action<NumericResult>? _callback;
    private int _value = 0;

    public void Show(NumericParameters parameters)
    {
        _title = parameters.Title;
        _callback = parameters.Callback;

        _isActiveClass = "is-active";

        StateHasChanged();
    }

    public void Close(NumericResult result)
    {
        _isActiveClass = string.Empty;
        _value = 0;
        StateHasChanged();
        _callback?.Invoke(result);
    }

    private void BackgroundClicked(MouseEventArgs e) => Close(new NumericResult(e));

    private void AddNumber(int number)
    {
        int newValue = _value * 10 + number;

        if (newValue > _value)
        {
            _value = newValue;
        }
    }

    private void Backspace() => _value = _value / 10;
    private void Clear() => _value = 0;

    private void Plus(MouseEventArgs e) => Close(new NumericResult(e, _value, ENumericAction.Add));
    private void Minus(MouseEventArgs e) => Close(new NumericResult(e, _value, ENumericAction.Substract));
    private void Set(MouseEventArgs e) => Close(new NumericResult(e, _value, ENumericAction.Set));

    protected override void OnInitialized() => Modal.OnNumeric += Show;

    public void Dispose() => Modal.OnNumeric -= Show;
}
